@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9621 0.0034 67.7826);
  --foreground: oklch(0.2972 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.2972 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.2972 0 0);
  /* Core colors */
  --primary: oklch(0.5692 0.1029 33.6052);
  --primary-foreground: oklch(1 0 0);

  --secondary: oklch(0.7218 0.0628 163.1015);
  --secondary-foreground: oklch(0.2972 0 0);

  --accent: oklch(0.7896 0.1326 79.7771);
  --accent-foreground: oklch(0.2972 0 0);

  --muted: oklch(0.8649 0.0104 58.1956);
  --muted-foreground: oklch(0.4418 0.0154 55.9546);

  --destructive: oklch(0.4396 0.1269 23.9447);
  --destructive-foreground: oklch(1 0 0);

  --border: oklch(0.8452 0 0);
  --input: oklch(1 0 0);
  --ring: oklch(0.7105 0.0359 43.4117);

  /* Chart colors */
  --chart-1: oklch(0.6878 0.1331 35.7779);
  --chart-2: oklch(0.7218 0.0628 163.1015);
  --chart-3: oklch(0.864 0.0889 78.9805);
  --chart-4: oklch(0.3805 0.0462 279.0543);
  --chart-5: oklch(0.6562 0.0239 330.4572);

  /* Sidebar */
  --sidebar: oklch(0.9239 0.0069 67.7394);
  --sidebar-foreground: oklch(0.2972 0 0);
  --sidebar-primary: oklch(0.5692 0.1029 33.6052);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.7896 0.1326 79.7771);
  --sidebar-accent-foreground: oklch(0.2972 0 0);
  --sidebar-border: oklch(0.8553 0.0011 17.1811);
  --sidebar-ring: oklch(0.7105 0.0359 43.4117);

  --radius: 0.25rem;

  /* Shadows tuned for light theme */
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: #000000;

  --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 0% / 0.07);
  --shadow-xs: 0px 2px 0px 0px hsl(0 0% 0% / 0.07);
  --shadow-sm: 0px 2px 0px 0px hsl(0 0% 0% / 0.15),
    0px 1px 2px -1px hsl(0 0% 0% / 0.15);
  --shadow: 0px 2px 0px 0px hsl(0 0% 0% / 0.15),
    0px 1px 2px -1px hsl(0 0% 0% / 0.15);
  --shadow-md: 0px 2px 0px 0px hsl(0 0% 0% / 0.15),
    0px 2px 4px -1px hsl(0 0% 0% / 0.15);
  --shadow-lg: 0px 2px 0px 0px hsl(0 0% 0% / 0.15),
    0px 4px 6px -1px hsl(0 0% 0% / 0.15);
  --shadow-xl: 0px 2px 0px 0px hsl(0 0% 0% / 0.15),
    0px 8px 10px -1px hsl(0 0% 0% / 0.15);
  --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 0% / 0.38);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
}

.dark {
  /* Base backgrounds */
  --background: oklch(0.2972 0 0);
  --background-darker: oklch(0.2572 0 0);
  --foreground: oklch(0.9388 0.0154 48.5546);

  --card: oklch(0.3485 0 0);
  --card-foreground: oklch(0.9515 0.0096 41.883);
  --popover: oklch(0.3485 0 0);
  --popover-foreground: oklch(0.9515 0.0096 41.883);

  /* Core colors */
  --primary: oklch(0.5692 0.1029 33.6052);
  --primary-foreground: oklch(0.2583 0.0258 30.8236);

  --secondary: oklch(0.7218 0.0628 163.1015);
  --secondary-foreground: oklch(0.3012 0 0);

  --accent: oklch(0.7896 0.1326 79.7771);
  --accent-foreground: oklch(0.3127 0.0323 68.1334);

  --muted: oklch(0.3715 0 0);
  --muted-foreground: oklch(0.502 0.0129 54.3047); /* optimized for contrast */

  --destructive: oklch(0.4396 0.1269 23.9447);
  --destructive-foreground: oklch(0.9437 0.019 29.5477);

  --border: oklch(0.3867 0 0);
  --input: oklch(0.3485 0 0);
  --ring: oklch(0.66 0.0338 43.0073);

  /* Chart colors */
  --chart-1: oklch(0.6878 0.1331 35.7779);
  --chart-2: oklch(0.7218 0.0628 163.1015);
  --chart-3: oklch(0.864 0.0889 78.9805);
  --chart-4: oklch(0.3805 0.0462 279.0543);
  --chart-5: oklch(0.6562 0.0239 330.4572);

  /* Sidebar */
  --sidebar: oklch(0.2645 0 0);
  --sidebar-foreground: oklch(0.9055 0.0155 48.5459);
  --sidebar-primary: oklch(0.5692 0.1029 33.6052);
  --sidebar-primary-foreground: oklch(0.2583 0.0258 30.8236);
  --sidebar-accent: oklch(0.7896 0.1326 79.7771);
  --sidebar-accent-foreground: oklch(0.3127 0.0323 68.1334);
  --sidebar-border: oklch(0.3485 0 0);
  --sidebar-ring: oklch(0.66 0.0338 43.0073);

  --radius: 0.25rem;

  /* Shadows */
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 0px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.25;
  --shadow-color: #000000;

  --shadow-2xs: 0px 2px 0px 0px hsl(0 0% 0% / 0.13);
  --shadow-xs: 0px 2px 0px 0px hsl(0 0% 0% / 0.13);
  --shadow-sm: 0px 2px 0px 0px hsl(0 0% 0% / 0.25),
    0px 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow: 0px 2px 0px 0px hsl(0 0% 0% / 0.25),
    0px 1px 2px -1px hsl(0 0% 0% / 0.25);
  --shadow-md: 0px 2px 0px 0px hsl(0 0% 0% / 0.25),
    0px 2px 4px -1px hsl(0 0% 0% / 0.25);
  --shadow-lg: 0px 2px 0px 0px hsl(0 0% 0% / 0.25),
    0px 4px 6px -1px hsl(0 0% 0% / 0.25);
  --shadow-xl: 0px 2px 0px 0px hsl(0 0% 0% / 0.25),
    0px 8px 10px -1px hsl(0 0% 0% / 0.25);
  --shadow-2xl: 0px 2px 0px 0px hsl(0 0% 0% / 0.63);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0em;
}

@theme inline {
  --color-background: var(--background);
  --color-background-darker: var(--background-darker);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-mono: var(--font-mono);
  --font-sans: var(--font-sans);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --radius: 0.25rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply scroll-smooth;
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}

@utility container {
  @media (width >= 96rem /* 1536px */) {
    max-width: 83rem /* 1440px */;
  }
}

@utility text-h1 {
  @apply scroll-m-20 text-5xl font-extrabold tracking-tight text-balance font-sans;
}

@utility text-h2 {
  @apply scroll-m-20 text-4xl font-semibold tracking-tight first:mt-0 font-sans;
}

@utility text-h3 {
  @apply scroll-m-20 text-3xl font-semibold tracking-tight font-sans;
}

@utility text-h4 {
  @apply scroll-m-20 text-2xl font-semibold tracking-tight font-sans;
}

@utility text-p {
  @apply leading-7 [&:not(:first-child)]:mt-6;
}

@utility text-blockquote {
  @apply mt-6 border-l-2 pl-6 italic;
}

@utility text-lead {
  @apply text-muted-foreground text-xl;
}
